<h2>Dodaj nowy produkt!</h2>
<div [hidden]="submitted">
<form (ngSubmit) = "saveProduct()">
    <div class="form-group">
        <label for="name">Nazwa:</label>
        <input type="text" class="form-control" [(ngModel)]="product.name" name="name">
    </div>
    <div class="form-group">
        <label for="category">Kategoria:</label>
        <input type="text" class="form-control" [(ngModel)]="product.category" name="category">
    </div>
    <div class="form-group">
        <label for="calories">Kalorie:</label>
        <input type="number" class="form-control" [(ngModel)]="product.calories" name="calories" >
    </div>
    <div class="form-group">
        <label for="proteins">Białka (Proteiny):</label>
        <input type="number" class="form-control" required [(ngModel)]="product.proteins" name="proteins" >
    </div>
    <div class="form-group">
        <label for="carbohydrates">Węglowodany:</label>
        <input type="number" class="form-control" [(ngModel)]="product.carbohydrates" name="carbohydrates" >
    </div>
    <div class="form-group">
        <label for="fats">Tłuszcz:</label>
        <input type="number" class="form-control" [(ngModel)]="product.fats"  name="fats" >
    </div>
    <button type="submit" class="btn btn-primary">Dodaj produkt</button>
</form>
</div>

<div [hidden]="!submitted">
    <h4>Produkt został prawidłowo dodany</h4>
    <button class="btn btn-success" (click)="newProduct()">Dodaj</button>
</div>