<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a style="padding-left: 10px" class="navbar-brand" href="/products">Kalkulator Kalorii</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" routerLink="products" routerLinkActive="active">Produkty</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="add" routerLinkActive="active">Dodaj produkt</a>
            </li>

            <a href="/login" *ngIf="test()" style="position:absolute; right: 10px" name="logout" id="logout"
                class="btn btn-danger" role="button" (click)="logout()">Wyloguj się</a>

        </ul>

    </div>

</nav>

<router-outlet></router-outlet>