<div class="container">
  <br>
  <div class="card text-white bg-dark mb-3">

    <div style="display:flex" class="card-body">
      <div class="col">
        <h5 class="card-title">Podsumowanie</h5>
        <hr>

        <p class="card-text">suma kalorii: {{ caloriesCounter }}</p>
        <p class="card-text">suma białka: {{ proteinsCounter }}</p>
        <p class="card-text">suma tłuszczów: {{ fatsCounter }}</p>
        <p class="card-text">suma węglowodanów: {{ carbohydratesCounter }}</p>
        <br>
        <a (click)="updateCounters()" class="btn btn-warning">Resetuj licznik</a>
      </div>

      <div class="col">
        <h5 class="card-title">Zjedzone produkty:</h5>
        <hr>
        <ul>
          <li class="card-text" *ngFor="let product of productList">{{ product.name }}</li>
        </ul>
      </div>

      <div class="col">
        <h5 class="card-title">Wybrany produkt:</h5>
        <hr>
        <div *ngIf="currProduct">
          <h5 class="card-title">{{ currProduct.name }}</h5>
          <p class="card-text">kategoria: {{ currProduct.category }}</p>
          <p class="card-text">ilość kalorii: {{ currProduct.calories }}</p>
          <p class="card-text">białka: {{ currProduct.proteins }}</p>
          <p class="card-text">tłuszcze: {{ currProduct.fats }}</p>
          <p class="card-text">węglowodany: {{ currProduct.carbohydrates }}</p>

          <div style="display: flex; gap: 5px">
            <a class="btn btn-danger">Usuń z listy</a>
            <a (click)="addProductToCalc(currProduct)" class="btn btn-success">Dodaj do kalkulatora</a>
            <a class="btn btn-info">Dodaj do Setu</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div style="display: flex; justify-content: space-around;">
    <div class="">
      <h5>Wyszukiwanie produktów</h5>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Według nazwy" style="width: 300px;"
          [(ngModel)]="nameTerm" />
      </div>
      <br>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Według kategorii" style="width: 300px;"
          [(ngModel)]="categoryTerm" />
      </div>
    </div>

    <div class="col-md-6">
      <h5>Znalezione produkty</h5>
      <ul class="list-group">
        <li class="list-group-item"
          *ngFor="let product of products | nameFilter:nameTerm | categoryFilter:categoryTerm; let i = index"
          [class.active]="i == currentIdx" (click)="setProduct(product, i)">
          {{ product.name }}
        </li>
      </ul>
    </div>
  </div>


</div>