<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Wprowadz nazwe produktu"
          ([ngModel]) = "name"
          name = "name"
        />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="findProduct()" > Szukaj </button>
        </div>
    </div>
          <div class="col-md-6">
            <h4>Lista wyszukanych produktów</h4>
            <app-product-details *ngFor = "let product of products; let i = index" [specProduct]="product">
            </app-product-details>
          </div>
    </div>
</div>
